html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/Final Background.jpg'); /* Background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    text-align: center;
}
#app {
    display: flex; /* Use flexbox for centering */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%; /* Take full height of the page */
    background: rgba(255, 255, 255, 0); /* Make the background transparent */
    position: relative; /* Set position relative for the child elements */
    left: -300px; /* Move slightly to the left; adjust this value as needed */
}
h1 {
    color: white; /* Change text color to white */
    margin: 0; /* Remove default margin */
    font-size: 3em; /* Increase the font size of the heading */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5), /* Shadow effects for 3D look */
    3px 3px 10px rgba(0, 0, 0, 0.3);
}
h2 {
            margin-bottom: 10px; /* Reduced gap between h2 and p */
        }
p {
    margin-top: 0; /* Remove top margin for p */
}

.quote {
    color: white; /* Change text color to white */
    font-size: 1.2em; /* Set a smaller font size for the quote */
    margin: 10px 0; /* Add some margin above and below the quote */
}

button {
    background: #0056b3; /* Darker shade of the original color */
    color: #fff;
    padding: 15px 30px; /* Increased padding for a bigger button */
    border: none;
    cursor: pointer;
    border-radius: 10px; /* Optional: adds rounded corners to the button */
    margin-top: 20px; /* Space between heading and button */
    font-size: 20px; /* Increased font size for bigger text */
    font-weight: bold;
}
.content {
    flex: 1; /* Take available space */
    margin-right: 20px; /* Space to the right of content */
}
.image-container {
    position: absolute; /* Position the container absolutely */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Center it vertically with respect to its height */
    width: 100%; /* Increase the width for a larger image */
    max-width: 800px; /* Set a maximum width to prevent it from being too large */
    right: 0px;
    bottom:-100px;
}

.image-container img {
    width: 100%; /* Make image responsive */
    height: auto; /* Maintain aspect ratio */
}
button:hover {
    background: #0056b3;
}