<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Gap Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="app">
        <h1>Welcome to Skill Gap Analysis</h1>
             <h2 style="color: white;">Your Future Awaits</h2>
        <p style="color: white;">Uncover your skill gaps and propel your career forward.</p>
        <button id="analyze-btn">Get Started</button>
        <div id="results"></div>
    </div>
      <div class="image-container">
            <img src="{{ url_for('static', filename='skill.png') }}" alt="Skill Gap Analysis" />
        </div>
    <script>
        document.getElementById("analyze-btn").addEventListener("click", () => {
            // Redirect to the form page
            window.location.href = "/details";
        });
    </script>
</body>